{{template "header"}}
<title>商品: {{.item.Id}}のページ</title>
<style>
  .app {
    color: #333;
  }
  .logo {
    font-family: 'Raleway', sans-serif;
  }
</style>
</head>
<body>
<div class="app">

  <!-- Navbar content -->
  <nav class="navbar navbar-light logo" style="background-color: #e3f2fd">
    Amezon.com
  </nav>

  <!-- breadcrumb -->
  <ol class="breadcrumb" style="background-color: rgba(1, 1, 1, .05)">
    <li><a href="#">Home</a></li>
    <li><a href="#">Items</a></li>
    <li class="active">{{.item.Id}}</li>
  </ol>

  <!-- container -->
  <div class="container">

    <!-- User Info -->
    <div class="row p-a">
      <div class="text-center col-xs-6">
        <img src="/static/img/item/100/{{.item.Image}}" class="img-rounded" width="100" height="100" alt="商品It000000のサムネイル画像">
      </div>
      <div class="col-xs-6">
        <p>{{.item.Id}}</p>
        <p class="m-b-0">{{.item.Supplier}}</p>
        <p class="m-b-0">売上個数: {{.item.SoldQuantity}}</p>
        <p>{{.item.SalePrice}}円</p>
        <p>
          {{range .tags}}
          <span class="label label-pill label-warning">{{.}}</span>
          {{end}}
        </p>
      </div>
    </div>
    <div class="m-b-md">
      <button type="button" class="btn btn-success btn-lg btn-block">この商品を購入する</button>
    </div>
  </div>

  {{if (len .users) gt 0}}
  <!-- Users -->
  <div class="users">
    <h5 class="p-a">この商品をおすすめしているユーザー</h5>
    <div class="row p-l p-r m-r-0">
      {{range .users}}
      <div class="col-xs-3 p-a-0 p-b text-center">
        <img src="/static/img/user/48/{{ .Image}}" alt="{{ .Id}}のサムネイル画像" class="img-circle" width="48" height="48">
      </div>
      {{end}}
    </div>
  </div>
  {{end}}
  {{if (len .postImages) gt 0}}
  <!-- Recent Posts -->
  <div class="posts">
    <h5 class="p-a">最近投稿されたレビュー</h5>
    <div class="row p-l p-r">
      {{range .postImages}}
      <div class="col-xs-3 p-a-0 p-b text-center">
        <img src="/static/img/user/48/{{ .Image}}" alt="{{ .Id}}のサムネイル画像" class="img-rounded" width="48" height="48">
      </div>
      {{end}}
  </div>
  {{end}}
  {{template "footer"}}
