{{template "header"}}
<title>ユーザー: {{ .user.Id }}のページ</title>
<style>
  .app {
    color: #333;
  }
  .logo {
    font-family: 'Raleway', sans-serif;
  }
</style>
</head>
<body>
<div class="app">

  <!-- Navbar content -->
  <nav class="navbar navbar-light logo" style="background-color: #e3f2fd">
    Amezon.com
  </nav>

  <!-- breadcrumb -->
  <ol class="breadcrumb" style="background-color: rgba(1, 1, 1, .05)">
    <li><a href="#">Home</a></li>
    <li><a href="#">Users</a></li>
    <li class="active">{{ .user.Id }}</li>
  </ol>

  <!-- container -->
  <div class="container">

    <!-- User Info -->
    <div class="row p-a-md">
      <div class="text-center col-xs-6">
        <img src="/static/img/user/100/{{ .user.Image }}" class="img-circle" width="100" height="100" alt="Us000000のサムネイル画像">
      </div>
      <div class="col-xs-6">
        <p>{{ .user.Id }}</p>
        <p>スコア: {{ .user.PublicScore }}</p>
      </div>
    </div>
    <div class="m-b-md">
      <button type="button" class="btn btn-primary-outline btn-lg btn-block">フレンド申請する</button>
    </div>
  </div>

  <!-- Friends -->
  <div class="friends">
    <h5 class="p-a">フレンド <span class="label label-pill label-default">{{len .friends}}</span></h5>
    <div class="list-group">
      {{$index := 0}}
      {{range .friends}}
      <button type="button" class="list-group-item">
        <a href="#" style="color: #333">
          <img src="/static/img/user/24/{{ .Image}}" alt="{{ .Id}}" class="img-circle m-r" width="24" height="24">{{ .Id}}
        </a>
      </button>
      {{ end }}
      {{if (len .friends) ge 4}}
      <button type="button" class="list-group-item">
        <div class="text-right">
          <a href="#">もっと見る</a>
        </div>
      </button>
      {{end}}
    </div>
  </div>

  {{if (len .items) gt 0}}
  <!-- Reccomended Items -->
  <div class="items">
    <h5 class="p-a">このユーザーのおすすめ商品</h5>
    <div class="row p-l p-r m-r-0">
      {{range .items}}
      <div class="col-xs-3 p-a-0 p-b text-center">
        <img src="/static/img/item/48/{{ .Image}}" alt="商品{{ .Id}}のサムネイル画像" class="img-rounded" width="48" height="48">
      </div>
      {{ end }}
    </div>
  </div>
  {{end}}
  {{if (len .postImages) gt 0}}
  <!-- Recent Posts -->
  <div class="posts">
    <h5 class="p-a">最近投稿されたレビュー</h5>
    <div class="row p-l p-r">
      {{range .postImages}}
      <div class="col-xs-3 p-a-0 p-b text-center">
        <img src="/static/img/item/48/{{ .Image}}" alt="商品{{ .Id}}のサムネイル画像" class="img-rounded" width="48" height="48">
      </div>
      {{ end }}
    </div>
  </div>
  {{end}}
{{template "footer"}}
